
<% include header.ejs%>

    <a href="../" class="btn btn-lg"><i class="fas fa-arrow-circle-left"></i> Back</a>
    <textarea name="Text" id="text" cols="30" rows="3"><%= content%></textarea>
    <button class="btn btn-success btn-lg" onclick="save();">Save</button>

<%include footer.ejs%>